<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class = "question">
  <h2> <%= @question %> </h2>
  <p> - You </p>
</div>

<div class = "answer">
  <h2> <%= @answer %> </h2>
  <p> - Your coach </p>
</div>


<%= link_to "Try again", ask_path  %>
